Calculated before child puts in $120 each month.

In [1]:
initial_balance = 800
monthly_contribution = 120
target_balance = 40000

balance = initial_balance
interest_rate = 0.003
months = 0

balances_over_time = []

while balance < target_balance:
    interest = balance * interest_rate

    balance += interest + monthly_contribution

    months += 1

    balances_over_time.append(balance)

print(
    f"It will take {months} months to save ${target_balance} for the child's education."
)
print("Monthly Balances:")
for i, monthly_balance in enumerate(balances_over_time, start=1):
    print(f"Month {i}: ${monthly_balance:.2f}")

It will take 225 months to save $40000 for the child's education.
Monthly Balances:
Month 1: $922.40
Month 2: $1045.17
Month 3: $1168.30
Month 4: $1291.81
Month 5: $1415.68
Month 6: $1539.93
Month 7: $1664.55
Month 8: $1789.54
Month 9: $1914.91
Month 10: $2040.66
Month 11: $2166.78
Month 12: $2293.28
Month 13: $2420.16
Month 14: $2547.42
Month 15: $2675.06
Month 16: $2803.09
Month 17: $2931.50
Month 18: $3060.29
Month 19: $3189.47
Month 20: $3319.04
Month 21: $3449.00
Month 22: $3579.34
Month 23: $3710.08
Month 24: $3841.21
Month 25: $3972.74
Month 26: $4104.65
Month 27: $4236.97
Month 28: $4369.68
Month 29: $4502.79
Month 30: $4636.30
Month 31: $4770.21
Month 32: $4904.52
Month 33: $5039.23
Month 34: $5174.35
Month 35: $5309.87
Month 36: $5445.80
Month 37: $5582.14
Month 38: $5718.88
Month 39: $5856.04
Month 40: $5993.61
Month 41: $6131.59
Month 42: $6269.98
Month 43: $6408.79
Month 44: $6548.02
Month 45: $6687.66
Month 46: $6827.73
Month 47: $6968.21
Month 48: $7109.12
Month 49: $7250.44
Month 50: $7392.19
Month 51: $7534.37
Month 52: $7676.97
Month 53: $7820.00
Month 54: $7963.46
Month 55: $8107.35
Month 56: $8251.68
Month 57: $8396.43
Month 58: $8541.62
Month 59: $8687.25
Month 60: $8833.31
Month 61: $8979.81
Month 62: $9126.75
Month 63: $9274.13
Month 64: $9421.95
Month 65: $9570.22
Month 66: $9718.93
Month 67: $9868.08
Month 68: $10017.69
Month 69: $10167.74
Month 70: $10318.24
Month 71: $10469.20
Month 72: $10620.61
Month 73: $10772.47
Month 74: $10924.79
Month 75: $11077.56
Month 76: $11230.79
Month 77: $11384.48
Month 78: $11538.64
Month 79: $11693.25
Month 80: $11848.33
Month 81: $12003.88
Month 82: $12159.89
Month 83: $12316.37
Month 84: $12473.32
Month 85: $12630.74
Month 86: $12788.63
Month 87: $12947.00
Month 88: $13105.84
Month 89: $13265.16
Month 90: $13424.95
Month 91: $13585.23
Month 92: $13745.98
Month 93: $13907.22
Month 94: $14068.94
Month 95: $14231.15
Month 96: $14393.84
Month 97: $14557.02
Month 98: $14720.69
Month 99: $14884.86
Month 100: $15049.51
Month 101: $15214.66
Month 102: $15380.30
Month 103: $15546.44
Month 104: $15713.08
Month 105: $15880.22
Month 106: $16047.86
Month 107: $16216.01
Month 108: $16384.66
Month 109: $16553.81
Month 110: $16723.47
Month 111: $16893.64
Month 112: $17064.32
Month 113: $17235.51
Month 114: $17407.22
Month 115: $17579.44
Month 116: $17752.18
Month 117: $17925.44
Month 118: $18099.21
Month 119: $18273.51
Month 120: $18448.33
Month 121: $18623.68
Month 122: $18799.55
Month 123: $18975.95
Month 124: $19152.88
Month 125: $19330.33
Month 126: $19508.32
Month 127: $19686.85
Month 128: $19865.91
Month 129: $20045.51
Month 130: $20225.64
Month 131: $20406.32
Month 132: $20587.54
Month 133: $20769.30
Month 134: $20951.61
Month 135: $21134.47
Month 136: $21317.87
Month 137: $21501.82
Month 138: $21686.33
Month 139: $21871.39
Month 140: $22057.00
Month 141: $22243.17
Month 142: $22429.90
Month 143: $22617.19
Month 144: $22805.04
Month 145: $22993.46
Month 146: $23182.44
Month 147: $23371.99
Month 148: $23562.10
Month 149: $23752.79
Month 150: $23944.05
Month 151: $24135.88
Month 152: $24328.29
Month 153: $24521.27
Month 154: $24714.84
Month 155: $24908.98
Month 156: $25103.71
Month 157: $25299.02
Month 158: $25494.91
Month 159: $25691.40
Month 160: $25888.47
Month 161: $26086.14
Month 162: $26284.40
Month 163: $26483.25
Month 164: $26682.70
Month 165: $26882.75
Month 166: $27083.40
Month 167: $27284.65
Month 168: $27486.50
Month 169: $27688.96
Month 170: $27892.03
Month 171: $28095.70
Month 172: $28299.99
Month 173: $28504.89
Month 174: $28710.41
Month 175: $28916.54
Month 176: $29123.29
Month 177: $29330.66
Month 178: $29538.65
Month 179: $29747.26
Month 180: $29956.51
Month 181: $30166.37
Month 182: $30376.87
Month 183: $30588.00
Month 184: $30799.77
Month 185: $31012.17
Month 186: $31225.20
Month 187: $31438.88
Month 188: $31653.20
Month 189: $31868.16
Month 190: $32083.76
Month 191: $32300.01
Month 192: $32516.91
Month 193: $32734.46
Month 194: $32952.67
Month 195: $33171.52
Month 196: $33391.04
Month 197: $33611.21
Month 198: $33832.05
Month 199: $34053.54
Month 200: $34275.70
Month 201: $34498.53
Month 202: $34722.03
Month 203: $34946.19
Month 204: $35171.03
Month 205: $35396.54
Month 206: $35622.73
Month 207: $35849.60
Month 208: $36077.15
Month 209: $36305.38
Month 210: $36534.30
Month 211: $36763.90
Month 212: $36994.19
Month 213: $37225.17
Month 214: $37456.85
Month 215: $37689.22
Month 216: $37922.29
Month 217: $38156.05
Month 218: $38390.52
Month 219: $38625.69
Month 220: $38861.57
Month 221: $39098.16
Month 222: $39335.45
Month 223: $39573.46
Month 224: $39812.18
Month 225: $40051.61

Answer for interest calculated for beginning of the month

In [1]:
initial_balance = 800
monthly_contribution = 120
target_balance = 40000

balance = initial_balance
months = 0

balances_over_time = []

while balance < target_balance:
    if balance < 10000:
        interest_rate = 0.003  # 0.3% per month
    elif balance < 20000:
        interest_rate = 0.004  # 0.4% per month
    elif balance < 30000:
        interest_rate = 0.005  # 0.5% per month
    else:
        interest_rate = 0.006  # 0.6% per month

    interest = balance * interest_rate

    balance += monthly_contribution + interest

    months += 1

    balances_over_time.append(balance)

print(
    f"It will take {months} months to save ${target_balance} for the child's education."
)
print("Monthly Balances:")
for i, monthly_balance in enumerate(balances_over_time, start=1):
    print(f"Month {i}: ${monthly_balance:.2f}")

It will take 196 months to save $40000 for the child's education.
Monthly Balances:
Month 1: $922.40
Month 2: $1045.17
Month 3: $1168.30
Month 4: $1291.81
Month 5: $1415.68
Month 6: $1539.93
Month 7: $1664.55
Month 8: $1789.54
Month 9: $1914.91
Month 10: $2040.66
Month 11: $2166.78
Month 12: $2293.28
Month 13: $2420.16
Month 14: $2547.42
Month 15: $2675.06
Month 16: $2803.09
Month 17: $2931.50
Month 18: $3060.29
Month 19: $3189.47
Month 20: $3319.04
Month 21: $3449.00
Month 22: $3579.34
Month 23: $3710.08
Month 24: $3841.21
Month 25: $3972.74
Month 26: $4104.65
Month 27: $4236.97
Month 28: $4369.68
Month 29: $4502.79
Month 30: $4636.30
Month 31: $4770.21
Month 32: $4904.52
Month 33: $5039.23
Month 34: $5174.35
Month 35: $5309.87
Month 36: $5445.80
Month 37: $5582.14
Month 38: $5718.88
Month 39: $5856.04
Month 40: $5993.61
Month 41: $6131.59
Month 42: $6269.98
Month 43: $6408.79
Month 44: $6548.02
Month 45: $6687.66
Month 46: $6827.73
Month 47: $6968.21
Month 48: $7109.12
Month 49: $7250.44
Month 50: $7392.19
Month 51: $7534.37
Month 52: $7676.97
Month 53: $7820.00
Month 54: $7963.46
Month 55: $8107.35
Month 56: $8251.68
Month 57: $8396.43
Month 58: $8541.62
Month 59: $8687.25
Month 60: $8833.31
Month 61: $8979.81
Month 62: $9126.75
Month 63: $9274.13
Month 64: $9421.95
Month 65: $9570.22
Month 66: $9718.93
Month 67: $9868.08
Month 68: $10017.69
Month 69: $10177.76
Month 70: $10338.47
Month 71: $10499.82
Month 72: $10661.82
Month 73: $10824.47
Month 74: $10987.77
Month 75: $11151.72
Month 76: $11316.33
Month 77: $11481.59
Month 78: $11647.52
Month 79: $11814.11
Month 80: $11981.36
Month 81: $12149.29
Month 82: $12317.89
Month 83: $12487.16
Month 84: $12657.11
Month 85: $12827.73
Month 86: $12999.05
Month 87: $13171.04
Month 88: $13343.73
Month 89: $13517.10
Month 90: $13691.17
Month 91: $13865.93
Month 92: $14041.40
Month 93: $14217.56
Month 94: $14394.43
Month 95: $14572.01
Month 96: $14750.30
Month 97: $14929.30
Month 98: $15109.02
Month 99: $15289.45
Month 100: $15470.61
Month 101: $15652.49
Month 102: $15835.10
Month 103: $16018.44
Month 104: $16202.52
Month 105: $16387.33
Month 106: $16572.88
Month 107: $16759.17
Month 108: $16946.21
Month 109: $17133.99
Month 110: $17322.53
Month 111: $17511.82
Month 112: $17701.86
Month 113: $17892.67
Month 114: $18084.24
Month 115: $18276.58
Month 116: $18469.69
Month 117: $18663.56
Month 118: $18858.22
Month 119: $19053.65
Month 120: $19249.87
Month 121: $19446.87
Month 122: $19644.65
Month 123: $19843.23
Month 124: $20042.60
Month 125: $20262.82
Month 126: $20484.13
Month 127: $20706.55
Month 128: $20930.09
Month 129: $21154.74
Month 130: $21380.51
Month 131: $21607.41
Month 132: $21835.45
Month 133: $22064.63
Month 134: $22294.95
Month 135: $22526.42
Month 136: $22759.06
Month 137: $22992.85
Month 138: $23227.82
Month 139: $23463.95
Month 140: $23701.27
Month 141: $23939.78
Month 142: $24179.48
Month 143: $24420.38
Month 144: $24662.48
Month 145: $24905.79
Month 146: $25150.32
Month 147: $25396.07
Month 148: $25643.05
Month 149: $25891.27
Month 150: $26140.72
Month 151: $26391.43
Month 152: $26643.38
Month 153: $26896.60
Month 154: $27151.08
Month 155: $27406.84
Month 156: $27663.87
Month 157: $27922.19
Month 158: $28181.80
Month 159: $28442.71
Month 160: $28704.93
Month 161: $28968.45
Month 162: $29233.29
Month 163: $29499.46
Month 164: $29766.96
Month 165: $30035.79
Month 166: $30336.01
Month 167: $30638.02
Month 168: $30941.85
Month 169: $31247.50
Month 170: $31554.99
Month 171: $31864.32
Month 172: $32175.50
Month 173: $32488.56
Month 174: $32803.49
Month 175: $33120.31
Month 176: $33439.03
Month 177: $33759.66
Month 178: $34082.22
Month 179: $34406.72
Month 180: $34733.16
Month 181: $35061.56
Month 182: $35391.92
Month 183: $35724.28
Month 184: $36058.62
Month 185: $36394.97
Month 186: $36733.34
Month 187: $37073.74
Month 188: $37416.19
Month 189: $37760.68
Month 190: $38107.25
Month 191: $38455.89
Month 192: $38806.63
Month 193: $39159.47
Month 194: $39514.42
Month 195: $39871.51
Month 196: $40230.74